{{ define "main" }}

<div class="fw-bold" style="padding-left: 5%; padding-top: 3%"> <strong>Ma géolocalisation</strong>
</div>
<div class="map">
<img src="/img/collections/map_europe.png" style="background: transparent;overflow: hidden; ">
<div class="map_emojis Position_moi" style="color: black !important; font-size: 100%; background-color: white; border-radius: 10px">
<div class="fw-bold"><strong> &#128205; France - Lyon</strong><div class="fw-bold" id="tooltip"> 🔎 <div class="fw-bold" id="tooltiptext" style="text-align: justify; width: auto !important;">En recherche d'emploi</div>
</div>
</div></div>

<div class="map_emojis Position_KTH" style="color: black !important; font-size: 100%; background-color: white; border-radius: 10px">
<div class="fw-bold" ><strong> 🖥️ Stage - KTH </strong><div class="fw-bold" id="tooltip"> 🔎 <div class="fw-bold" id="tooltiptext" style="text-align: justify; width: auto !important;">Stage de 6 mois en laboratoire à KTH (Stockholm)</div>
</div>
</div>

</div></div>

<div class="fw-bold" style="padding-left: 5%; padding-top: 0%"> <strong>Mes activités</strong>
</div>

<div class="container" role="main">
  <div class="row">
    {{ with .Content }}
    <div class="well">
      {{.}}
    </div>
    {{ end }}


    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections ) 9 }}
    {{ range $pag.Pages }}
    {{ partial "post_preview" . }}
    {{ end }}


  </div>
</div>

<div class="container">
  <div class="row font-sans">
    <div class="col-md-12 mt-10">
      <nav aria-label="Page navigation">
        <div class="pagination justify-content-end">
          {{ template "_internal/pagination.html" . }}
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="fw-bold" style="padding-left: 5%; padding-top: 0%"> <strong>Mes compétences</strong>
</div>
<img src="/img/collections/compétences.png" style="background: transparent;overflow: hidden; ">

<div class="fw-bold" style="padding-left: 5%; padding-top: 0%"> <strong>Langages, Outils et Normes</strong>
</div>
<img src="/img/collections/langages.png" style="background: transparent;overflow: hidden; ">

{{ end }}


